.toast{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
}


  
  #carouselInner2 {
    /* You can set the width of the carousel to control the blank space on the sides */
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the carousel contents horizontally */
  }
  

 
  